<template>
    <div class="flex h-screen">
        <div class="w-64 p-4 bg-white">
            <tags-filter/>
        </div>

        <div class="flex-1 overflow-auto">
            <div class="p-4">
                <div class="mb-4 flex justify-end items-center">
                    <a
                        href="#"
                        title="Force Refresh"
                        class="text-blue-500 hover:text-blue-700"
                        @click.prevent="refresh()"
                    >
                        <zond-icon
                            icon="reload"
                            class="w-6 fill-current"
                        />
                    </a>
                </div>

                <uploader
                    @uploaded="refresh()"
                />

                <documents-list/>
            </div>
        </div>
    </div>
</template>
<script>
import { EventBus } from './../event-bus';

export default {
    methods: {
        refresh() {
            EventBus.$emit('refresh');
        }
    }
};
</script>
