<template>
    <div class="px-4 py-2 border border-gray-500 bg-white rounded">
        <div class="flex justify-between items-center py-2 border-b border-gray-300">
            <div class="flex items-center text-black">
                <zond-icon :icon="icon" class="w-3 mr-1 fill-current opacity-75" />
                <h4 class="truncate font-semibold">{{ name }}</h4>
            </div>

            <a
                :href="url"
                target="_blank"
                class="flex items-center text-blue-500 hover:text-blue-700"
            >
                <div>{{ formattedSize }}</div>
                <zond-icon icon="download" class="w-3 ml-1 inline-block fill-current opacity-75" />
            </a>
        </div>

        <ul v-if="!editMode" class="-mx-1 my-3 text-xs text-center" @click="enterEditMode()">
            <template v-if="hasTags">
                <li
                    v-for="tag in tags"
                    :key="tag"
                    class="inline-block m-1 px-2 py-1 bg-gray-300 rounded"
                >{{ tag }}</li>
            </template>
            <template v-else>
                <li class="inline-block px-2 py-1 border border-gray-300 rounded">No tags</li>
            </template>
        </ul>

        <div v-if="editMode" class="flex justify-center items-center my-3 text-xs text-center">
            <input
                :disabled="working"
                type="text"
                placeholder="Enter tags..."
                v-model="localTagsString"
                :class="['inline-block px-2 py-1 border border-gray-300 rounded', { 'bg-gray-300' : working }]"
            />

            <button
                :disabled="working"
                :class="['ml-3 bg-green-500 hover:bg-green-700 text-white py-1 px-2 text-xs rounded flex justify-between items-center', { 'opacity-50' : working }]"
                @click="update()"
            >
                <div v-if="working">Updating...</div>
                <div v-else>Update</div>
                <zond-icon icon="checkmark-outline" class="w-3 ml-1 fill-current" />
            </button>
        </div>

        <div class="flex justify-between items-center text-xs">
            <div class="text-gray-600">Last update: {{ formattedUpdatedAt }} (UTC)</div>

            <a
                v-if="!editMode"
                href="#"
                @click.prevent="deleteDocument()"
                :class="working ? 'text-gray-700 cursor-not-allowed' : 'text-red-600 hover:text-red-800'"
            >
                <template v-if="working">Deleting...</template>
                <template v-else>Delete</template>
            </a>
        </div>
    </div>
</template>

<script>
import * as moment from "moment";

import { EventBus } from "./../event-bus";

export default {
    props: {
        uuid: {
            type: String,
            required: true
        },

        name: {
            type: String,
            required: true
        },

        size: {
            type: Number,
            required: true
        },

        url: {
            type: String,
            required: true
        },

        created_at: {
            type: String,
            required: true
        },

        updated_at: {
            type: String,
            required: true
        },

        tags: {
            type: Array,
            required: true
        }
    },

    data() {
        return {
            editMode: false,
            working: false,

            localTagsString: "",
            localTags: []
        };
    },

    watch: {
        localTagsString(newTags) {
            this.localTags = newTags
                .split(",")
                .map(newTag => newTag.trim())
                .filter(newTag => 0 < newTag.length);
        }
    },

    mounted() {
        this.localTags = this.tags;
        this.localTagsString = this.localTags.join(", ");
    },

    computed: {
        /** @link https://stackoverflow.com/a/1203361 */
        extension() {
            return (
                this.url.substring(
                    this.url.lastIndexOf(".") + 1,
                    this.url.length
                ) || this.url
            );
        },

        icon() {
            switch (this.extension) {
                case "jpeg":
                case "jpg":
                case "png":
                case "gif":
                    return "camera";
                case "doc":
                case "docx":
                case "pdf":
                case "txt":
                case "csv":
                    return "document";
                default:
                    throw 'Unexpected document extension "' +
                        this.extension +
                        '".';
            }
        },

        formattedSize() {
            return this.formatBytes(this.size);
        },

        hasTags() {
            return this.tags.length;
        },

        formattedUpdatedAt() {
            return moment(this.updated_at).format("lll");
        }
    },

    methods: {
        enterEditMode() {
            this.editMode = true;
        },

        leaveEditMode() {
            this.editMode = false;
        },

        update() {
            if (this.working) {
                return;
            }

            this.working = true;

            return axios
                .patch("/api/documents/" + this.uuid, {
                    tags: this.localTags
                })
                .then(() => {
                    EventBus.$emit("refresh");
                    this.working = false;
                    this.leaveEditMode();
                })
                .catch(error => {
                    alert(
                        "An unexpected error occured while updating the document.\n\nPlease see the console for more."
                    );
                    console.log(error);
                });
        },

        deleteDocument() {
            if (this.working) {
                return;
            }

            let response = confirm(
                'Are you sure you want to delete "' +
                    this.name +
                    '"? This cannot be undone!'
            );

            if (false === response) {
                return;
            }

            this.working = true;

            return axios
                .delete("/api/documents/" + this.uuid)
                .then(() => {
                    EventBus.$emit("refresh");
                    this.working = false;
                })
                .catch(error => {
                    alert(
                        "An unexpected error occured while deleting the document.\n\nPlease see the console for more."
                    );
                    console.log(error);
                });
        },

        /** @link https://stackoverflow.com/a/18650828 */
        formatBytes(bytes, decimals = 2) {
            if (bytes === 0) return "0 Bytes";

            const k = 1024;
            const dm = decimals < 0 ? 0 : decimals;
            const sizes = [
                "Bytes",
                "KB",
                "MB",
                "GB",
                "TB",
                "PB",
                "EB",
                "ZB",
                "YB"
            ];

            const i = Math.floor(Math.log(bytes) / Math.log(k));

            return (
                parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) +
                " " +
                sizes[i]
            );
        }
    }
};
</script>
