<template>
    <div v-show="ready" class="flex flex-wrap -m-2">
        <div v-for="document in documents" :key="document.uuid" class="w-full p-2 md:w-1/2">
            <document v-bind="document" />
        </div>
    </div>
</template>

<script>
import { EventBus } from "./../event-bus";

export default {
    data() {
        return {
            ready: false,
            cancelSource: null,

            filteredTags: [],
            documents: []
        };
    },

    watch: {
        filteredTags(newTags) {
            this.loadDocuments();
        }
    },

    mounted() {
        this.loadDocuments();

        EventBus.$on("applyTagsFilter", filteredTags => {
            this.filteredTags = filteredTags;
        });

        EventBus.$on("refresh", () => {
            this.loadDocuments();
        });
    },

    methods: {
        loadDocuments() {
            this.ready = false;

            this.cancelIfLoading();
            this.cancelSource = axios.CancelToken.source();

            let params = {};

            if (0 < this.filteredTags.length) {
                params.tags = this.filteredTags.join(",");
            }

            return axios
                .get("/api/documents", {
                    params: params
                })
                .then(({ data }) => {
                    this.documents = data.data;
                })
                .catch(error => {
                    alert(
                        "An unexpected error occured while fetching documents.\n\nPlease see the console for more."
                    );
                    console.log(error);
                })
                .then(() => {
                    this.cancelSource = null;
                    this.ready = true;
                });
        },

        cancelIfLoading() {
            if (!this.cancelSource) {
                return;
            }

            this.cancelSource.cancel();
        }
    }
};
</script>
