<template>
    <div v-show="ready">
        <h3 class="mb-4 text-lg font-semibold">Filter By Tags</h3>

        <ul class="-my-2">
            <li v-for="tag in allTags" :key="tag" class="my-2">
                <a
                    v-if="isTagFiltered(tag)"
                    href="#"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex justify-between items-center"
                    @click.prevent="removeFilter(tag)"
                >
                    <div>{{ tag }}</div>

                    <zond-icon icon="minus-outline" class="w-3 fill-current opacity-75" />
                </a>

                <a
                    v-else
                    href="#"
                    class="bg-gray-600 hover:bg-gray-800 text-white font-bold py-2 px-4 rounded flex justify-between items-center"
                    @click.prevent="addFilter(tag)"
                >
                    <div>{{ tag }}</div>

                    <zond-icon icon="add-outline" class="w-3 fill-current opacity-75" />
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
import { EventBus } from "./../event-bus";

export default {
    data() {
        return {
            ready: false,
            cancelSource: null,

            allTags: [],
            filteredTags: []
        };
    },

    mounted() {
        this.loadTags();

        EventBus.$on("refresh", () => {
            this.loadTags();
        });
    },

    watch: {
        filteredTags(newTags) {
            EventBus.$emit("applyTagsFilter", newTags);
        }
    },

    methods: {
        loadTags() {
            this.ready = false;

            this.cancelIfLoading();
            this.cancelSource = axios.CancelToken.source();

            return axios
                .get("/api/tags")
                .then(({ data }) => {
                    this.allTags = data.data;
                })
                .catch(error => {
                    alert(
                        "An unexpected error occured fetching available tags.\n\nPlease see the console for more."
                    );
                    console.log(error);
                })
                .then(() => {
                    this.cancelSource = null;
                    this.ready = true;
                });
        },

        cancelIfLoading() {
            if (!this.cancelSource) {
                return;
            }

            this.cancelSource.cancel();
        },

        isTagFiltered(tag) {
            return -1 !== this.filteredTags.indexOf(tag);
        },

        addFilter(tag) {
            if (this.isTagFiltered(tag)) {
                return;
            }

            this.filteredTags.push(tag);
        },

        removeFilter(tag) {
            if (!this.isTagFiltered(tag)) {
                return;
            }

            let index = this.filteredTags.indexOf(tag);
            this.filteredTags.splice(index, 1);
        }
    }
};
</script>
