<template>
    <div class="mb-4">
        <dropzone
            ref="dropzone"
            id="dropzone"
            :options="dropzoneOptions"
            @vdropzone-success="uploadedDocument"
            @vdropzone-error="documentErrored"
        >
            <input type="hidden" name="_token" :value="csrfToken" />
        </dropzone>
    </div>
</template>

<script>
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";

import { EventBus } from "./../event-bus";

export default {
    components: {
        dropzone: vue2Dropzone
    },
    data: function() {
        return {
            dropzoneOptions: {
                url: "/api/documents",
                thumbnailWidth: 150,
                maxFilesize: 100
            }
        };
    },

    computed: {
        csrfToken: () => axios.defaults.headers.common["X-CSRF-TOKEN"]
    },

    methods: {

        documentErrored(file, { message, errors }, xhr) {
            let fullMessage = '';

            if (422 === xhr.status) {
                fullMessage = message+"\n";

                if ('object' === typeof errors.file) {
                    errors.file.forEach(error => {
                        fullMessage = fullMessage + "\n - " + error;
                    });
                }
            }

            fullMessage = fullMessage + "\n\nPlease see the console for more.";

            alert(fullMessage);

            this.resetDropzone();
        },

        uploadedDocument() {
            this.resetDropzone();
            EventBus.$emit('refresh');
        },

        resetDropzone() {
            this.$refs.dropzone.removeAllFiles();
        },

    }
};
</script>

<style scoped>
    .vue-dropzone {
        border-width: 1px;
        border-radius: 0.25rem;
    }
</style>
